[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
email-validator = "*"
six = "*"
xlwt = "*"
weasyprint = "*"
networkx = "*"
django-crispy-forms = "*"
django-bootstrap-sidebar = "*"

[dev-packages]

[requires]
python_version = "3.11"
